In [0]:
%tensorflow_version 2.x
import numpy as np
import pandas as pd
import string
from google.colab import drive
import scipy.sparse as sp
from scipy import stats
!pip install lightfm
from lightfm import LightFM
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from multiprocessing import cpu_count
import matplotlib.pyplot as plt
from sklearn.preprocessing import minmax_scale
from tqdm.auto import tqdm
from sklearn.pipeline import Pipeline

Requirement already satisfied: lightfm in /usr/local/lib/python3.6/dist-packages (1.15)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from lightfm) (2.21.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.18.2)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2020.4.5.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (3.0.4)

In [0]:
drive.mount('/content/gdrive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive/

In [0]:
ratings = pd.read_csv('/content/gdrive/My Drive/ratings.csv')
new_ratings = pd.read_csv('/content/gdrive/My Drive/new_ratings.csv')
ratings = pd.concat([ratings, new_ratings])

In [0]:
#A = new_ratings.values
#coder = {}
#k = 53426
#for i, line in enumerate(A):
#  if line[0] in coder:
#    A[i][0] = coder[line[0]]
#  else:
#    coder[line[0]] = k
#    A[i][0] = k
#    k += 1

In [0]:
#new_ratings = pd.DataFrame(A, columns=['user_id', 'book_id', 'rating'])

In [0]:
#new_ratings.to_csv('new_ratings.csv', index=False)

In [0]:
ratings['book_id'] -= 1
ratings['user_id'] -= 1
new_ratings['book_id'] -= 1
new_ratings['user_id'] -= 1

In [0]:
train_ratings, test_ratings = train_test_split(ratings, test_size=.3, random_state=42, shuffle=True)

In [0]:
#train_ratings['pos_ex'] = (train_ratings.rating >= 4).astype(float)
#train_ratings['neg_ex'] = -1 * (train_ratings.rating <= 3).astype(float)
#train_ratings['ex'] = train_ratings['pos_ex'] + train_ratings['neg_ex']

In [0]:
train_ratings.sort_values(by=['user_id', 'rating'], ascending=[True, False], inplace=True)
test_ratings.sort_values(by=['user_id', 'rating'], ascending=[True, False], inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
train_ratings = sp.coo_matrix((train_ratings.rating.values, 
                               (train_ratings.user_id.values, train_ratings.book_id.values)))

In [0]:
books = pd.read_csv('/content/gdrive/My Drive/translated_books.csv')
titles = books['original_title']
gid = books['goodreads_book_id']

In [0]:
#books['std'] = np.sqrt((books.ratings_1 * (1 - books.average_rating) ** 2 + 
#                        books.ratings_2 * (2 - books.average_rating) ** 2 + 
#                        books.ratings_3 * (3 - books.average_rating) ** 2 + 
#                        books.ratings_4 * (4 - books.average_rating) ** 2 + 
#                        books.ratings_5 * (5 - books.average_rating) ** 2) / books.work_ratings_count)
#books['h'] = books['std'] * stats.t.ppf(1.95 / 2., books.work_ratings_count - 1)
#books['min_rating'] = books['average_rating'] - books['h']

In [0]:
#books['flag'] = pd.Series(books.ratings_count > 500000, dtype=np.int32, copy=True)
#books.sort_values(by=['flag', 'min_rating'], ascending=[False, False], inplace=True)
#books.drop(labels=['std', 'h'], axis=1, inplace=True)

In [0]:
#books.to_csv('sorted_trans_books.csv', index=False)

In [0]:
books.drop(labels=['ratings_count', 'work_ratings_count', 'work_text_reviews_count', 
                   'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 
                   'average_rating', 'original_title', 'автор', 'prep', 'sum', 'inv_sum',
                   'work_id', 'goodreads_book_id', 'book_id', 'isbn', 'isbn13', 'title', 
                   'image_url', 'small_image_url', 'best_book_id', 
                   'books_count', 'language_code'], axis=1, inplace=True)

In [0]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   authors                    10000 non-null  object
 1   original_publication_year  9979 non-null   float64
dtypes: float64(1), object(1)
memory usage: 156.4+ KB

In [0]:
books.fillna(books.original_publication_year.mean(), inplace=True)

In [0]:
authors = {}
for i, line in enumerate(books.authors.unique()):
  temp = list(map(lambda x: x.strip(), line.split(',')))
  for author in temp:
    if not authors.get(author):
      authors[author] = [0] * len(books)
    authors[author][i] = 1

In [0]:
pref = set()
for key in authors.keys():
  s = sum(authors[key])
  if s > 1:
    pref.add(key)
pref.add('Others')

In [0]:
authors['Others'] = [0] * len(books)
d = authors.copy()
for author in d.keys():
  if author not in pref:
    for i in range(len(books)):
      if d[author][i]:
        authors['Others'] = 1
    del authors[author]

In [0]:
authors = pd.DataFrame.from_dict(authors)

In [0]:
books.drop(labels=['authors'], axis=1, inplace=True)

In [0]:
X = books.values
X = minmax_scale(X)

In [0]:
books = pd.DataFrame(X, columns=books.columns)

   original_publication_year
0                   0.997611
1                   0.994691
2                   0.996814
3                   0.984869
4                   0.975577

In [0]:
books = pd.concat((books, authors), axis=1)

In [0]:
#books = pd.read_csv('/content/gdrive/My Drive/auth_books.csv')
book_features = sp.csr_matrix(books)

In [0]:
tags = pd.read_csv('/content/gdrive/My Drive/tags.csv')

In [0]:
def delete_punctuation(text):
  exclude = string.punctuation + "«»\n-"
  table = str.maketrans(exclude, " " * len(exclude))
  return text.translate(table).lower()

In [0]:
def format_str(text):
  words = [word for word in delete_punctuation(text).split()]
  return ' '.join(words)

In [0]:
t = {}
for i, line in enumerate(tqdm(tags.values)):
  if type(line[1]) == str:
    t[line[0]] = format_str(line[1])

HBox(children=(IntProgress(value=0, max=33303), HTML(value='')))

In [0]:
book_tags = pd.read_csv('/content/gdrive/My Drive/book_tags.csv')

In [0]:
g = {}
book_tags.head(50)
for i, line in enumerate(book_tags.values):
  if line[0] in g:
    if line[1] in t:
      if line[2] >= 500:
        g[line[0]] += ' ' + t[line[1]]
      else:
        del t[line[1]]
  else:
    if line[1] in t:
      if line[2] >= 500:
        g[line[0]] = t[line[1]]

In [0]:
t = []
for i in gid:
  if i in g:
    t.append(g[i])
  else:
    t.append('')

In [0]:
vectorizer = CountVectorizer()
vectorized_tags = vectorizer.fit_transform(t)
transformer = TfidfTransformer()
transformed_tags = transformer.fit_transform(vectorized_tags)

In [0]:
transformed_tags

<10000x246 sparse matrix of type '<class 'numpy.float64'>'
	with 1683 stored elements in Compressed Sparse Row format>

In [0]:
book_features = sp.hstack((book_features, transformed_tags))

In [0]:
book_features

<10000x1089 sparse matrix of type '<class 'numpy.float64'>'
	with 24046 stored elements in COOrdinate format>

In [0]:
model = LightFM(no_components=50, loss='warp', random_state=42)
history = []

In [0]:
n = 150 #(150)
for i in range(n):
  model.fit_partial(train_ratings, item_features=book_features, num_threads=cpu_count(), epochs=1)
  pred_ratings = pd.DataFrame(test_ratings)
  pred_ratings['probs'] = model.predict(test_ratings.user_id.values, 
                                        test_ratings.book_id.values, 
                                        item_features=book_features, num_threads=cpu_count())
  pred_ratings.sort_values(by=['user_id', 'probs'], ascending=[True, False], inplace=True)
  history.append(np.sqrt(mean_squared_error(pred_ratings.rating.values, test_ratings.rating.values)))
  print(history[i])

1.2078613762593366
1.207671582383971
1.2070474997838834
1.2063694663777116
1.2060938919759328
1.20565450726013
1.2054953642471926
1.205468992591005
1.2052306962046226
1.2049798557134834
1.2045409906710942
1.2044053175426472
1.2040866802745618
1.2036396123238586
1.2034815931599592
1.2035163498878327
1.2031469503690078
1.2028140692238571
1.2024217261015646
1.2023335936103876
1.2021772585093153
1.201935525351789
1.2020904999936053
1.201814408503403
1.2015999878294736
1.2015340759517363
1.201381350734436
1.2010205821689355
1.2009314180251143
1.200838531668523
1.2007869766401182
1.2005863089686313
1.2005760888841333
1.2002104313487003
1.200070085916501
1.2001918434926286
1.2001239953748264
1.1999924706328537
1.1999246112417823
1.1997735405968273
1.1997688919676353
1.1998711576495387
1.1996745209007107
1.19939926829424
1.1993420710597373
1.1993527666849149
1.1994160084322527
1.1994936610168707
1.1995415520208352
1.1994583227394175
1.1994880813580666
1.1991509288044462
1.1993774127624128
1.1993095185701068
1.1992225525859508
1.1992444109400149
1.1992648737189222
1.199249061602244
1.199131859414246
1.199144882445264
1.1989434747521555
1.1989951090484359
1.198939288090132
1.1989206805264778
1.1988699734497377
1.1988788124523155
1.198927658396691
1.1986545607665626
1.1987164435346582
1.1986312957417231
1.1985647552779883
1.1985284589225176
1.1982054660144874
1.198299487341788
1.1981309884394933
1.1982445648882343
1.198232928452016
1.198143091360459
1.1978456033734506
1.1979145117033618
1.1980229877316213
1.1979484988117823
1.198003434838482
1.1980956099695041
1.1979592068790583
1.197998313789924
1.1978726084615614
1.1977892632123597
1.197982019398873
1.1978479314222676
1.1978870419658962
1.1977250042565737
1.1977175537198284
1.1976211582217946
1.197557821690341
1.1975657389399608
1.1976272122736744
1.1976090500262233
1.197567136096225
1.197703118172993
1.1977850725159784
1.1977697065038038
1.1977631875299926
1.1977273325398021
1.1977319890926805
1.1977999727031667
1.1977697065038038
1.1977268668835184
1.1977105687995369
1.1976775062907423
1.1977371112799373
1.1977841412481247
1.1976975301726687
1.1976621388984923
1.1975247549643455
1.1975373297423824
1.1976034615869784
1.1975037967075162
1.1974264808543023
1.1974469746992216
1.1973896842070335
1.197467002436066
1.1973617366307563
1.1973202798577838
1.1974399882005855
1.1975182346570827
1.197436262051312
1.1973552154357623
1.1973799026295373
1.1975405898484675
1.197468399707532
1.1975988045343537
1.1976160355386083
1.1976002016520426
1.197545712854384
1.1973747789141962
1.1973170191518294
1.1974097129021124
1.19752522069922
1.1973556812365826
1.197410644461172
1.1974548926817317
1.197513577273016
1.1974618790934088
1.1973496258117848
1.1971446549100186
1.1972108084452902
1.197243883842187
1.1971777321345924
1.1971376666470432

In [0]:
u = {}
for line in new_ratings.values:
  if u.get(line[0]):
    u[line[0]].add(line[1])
  else:
    u[line[0]] = set()
    u[line[0]].add(line[1])

In [0]:
pred_u = []
pred_b = []
for key in u.keys():
  k = 0
  for i in range(10000):
    if k == 50:
      break
    if i not in u[key]:
      pred_u.append(int(key))
      pred_b.append(i)
      k += 1

In [0]:
preds = pd.DataFrame(data=zip(pred_u, pred_b), index=None, columns=['user_id', 'book_id'])
preds.head()

   user_id  book_id
0    53425        2
1    53425        3
2    53425        4
3    53425        5
4    53425        6

In [0]:
preds['score'] = model.predict(preds.user_id.values, preds.book_id.values, 
                      item_features=book_features)

In [0]:
preds.sort_values(by=['user_id', 'score'], ascending=[True, False], inplace=True)

In [0]:
preds

     user_id  book_id     score
9      53425       12 -3.769799
22     53425       26 -3.948902
17     53425       20 -3.965206
13     53425       16 -4.017804
0      53425        2 -4.237250
..       ...      ...       ...
948    53443       50 -5.629990
900    53443        0 -5.630939
930    53443       30 -5.631886
911    53443       11 -5.633782
947    53443       49 -5.857448

[950 rows x 3 columns]

In [0]:
preds.drop(labels=['score'], axis=1, inplace=True)

In [0]:
preds.to_csv('predictions.csv', index=False)

In [0]:
print(u[53426])

{0, 1, 513, 7, 2186, 46, 591, 47, 497, 1040, 16, 80, 22, 54, 7067, 31}

In [0]:
sum(titles == "Harry Potter and the Philosopher's Stone")

1

In [0]:
for line in preds.values:
  if line[0] == 53426:
    print(titles[line[1]])

Nineteen Eighty-Four
The Kite Runner
Harry Potter and the Order of the Phoenix
Harry Potter and the Half-Blood Prince
Twilight
The Great Gatsby
The Secret Life of Bees
Animal Farm: A Fairy Story
O Alquimista
Water for Elephants
The Hobbit or There and Back Again
Män som hatar kvinnor
Jane Eyre
The Fault in Our Stars
Mockingjay
The Da Vinci Code
Lord of the Flies
Pride and Prejudice
Het Achterhuis: Dagboekbrieven 14 juni 1942 - 1 augustus 1944
A Game of Thrones
The Lightning Thief
Gone Girl
Eclipse
Breaking Dawn
Fifty Shades of Grey
Where the Sidewalk Ends: The Poems and Drawings of Shel Silverstein
The Notebook
The Adventures of Huckleberry Finn
An Excellent conceited Tragedie of Romeo and Juliet
Little Women
The Lion, the Witch and the Wardrobe
Charlotte's Web
 The Fellowship of the Ring
To Kill a Mockingbird
The Hitchhiker's Guide to the Galaxy
The Giver
Memoirs of a Geisha
Harry Potter and the Prisoner of Azkaban
Angels & Demons
Harry Potter and the Goblet of Fire
Life of Pi
The Lovely Bones
Eragon
The Time Traveler's Wife
Eat, pray, love: one woman's search for everything across Italy, India and Indonesia
New Moon (Twilight, #2)
Harry Potter and the Deathly Hallows
City of Bones
The Help
Divergent

In [0]:
for val in u[53426]:
  print(titles[val])

The Hunger Games
Harry Potter and the Philosopher's Stone
The Adventures of Sherlock Holmes
The Catcher in the Rye
Мы
The Book Thief
Мастер и Маргарита
Fahrenheit 451
Война и миръ
Идиот
Catching Fire
The Glass Castle
Harry Potter and the Chamber of Secrets
Brave New World
Martin Eden
Of Mice and Men

In [0]:
R = pd.pivot_table(
    ratings[-1000000:],
    values='rating',
    index='user_id',
    columns='book_id').fillna(0)

In [0]:
from scipy.linalg import svd

In [0]:
U, sigma, V = svd(R)
print(ratings.shape, U.shape, sigma.shape, V.shape)

(5976616, 3) (30745, 30745) (9999,) (9999, 9999)

In [0]:
Sigma = np.zeros((30745, 9999))
Sigma[:9999, :9999] = np.diag(sigma)

new_ratings = U.dot(Sigma).dot(V)
print(sum(sum((new_ratings - R.values) ** 2)))

6.939214776909276e-22

In [0]:
K = 100
####### Здесь ваш код ##########
sigma[K:] = 0
Sigma = np.zeros((30745, 9999))
Sigma[:9999, :9999] = np.diag(sigma)

In [0]:
new_ratings = U.dot(Sigma).dot(V)
print(sum(sum((new_ratings - R.values) ** 2)))
print(sum(sum((R.values.mean() - R.values) ** 2)))

11892145.287572963
16275200.248298053

In [0]:
R.shape

(30745, 9999)

In [0]:
s = 0
k = 0
for i in range(R.shape[0]):
  for j in range(R.shape[1]):
    if R.values[i][j] != 0:
      k += 1
      s += (new_ratings[i][j] - R.values[i][j]) ** 2
print((s / k) ** .5)

3.2203191217624547

In [0]:
new_ratings = pd.DataFrame(new_ratings, index=R.index, columns=R.columns)

In [0]:
new_ratings.head()

book_id     2         3         4      ...     9997      9998      10000
user_id                                ...
1       -0.118873  0.025950  0.043151  ... -0.034000 -0.029261  0.024818
2       -0.175547  0.087012  0.029240  ... -0.024318 -0.029602  0.039011
3       -0.076800  0.061750  2.906562  ...  0.023373 -0.009029  0.071271
4        4.989835 -0.080632  3.957341  ... -0.015694  0.005196  0.045544
6        0.036115  0.001089 -0.020454  ...  0.002710  0.001097 -0.012302

[5 rows x 5033 columns]